@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons");
body,div,h2,ul,li,p,input{margin: 0; padding: 0; box-sizing: border-box;}
:root{
    /* --color-blue:#1f52c4;
    --play-bg:#e813e0;
    --color-light:#de4ad8;
    --color-shadow:#9e0098;
    --text-color:#fff;
    --bar-bg:#0ff;
    --text-size:30px;
    --button-color:#e6e6e6;
    --button-text-color:#151515;
    --button-light:#fff;
    --button-shadow:#dedede;
    시험 볼 땐 색깔 마음대로 */
}
body{
    height:100vh;
    position: relative;
}
#main{
    width: 100%; height: 100vh; position: relative;
    overflow: hidden;
}
.player{
    position:absolute; left: 0; bottom:0;
    width:100%; height:150px;
    user-select:none;
    -webkit-user-select:none;
    padding:20px 40px 10px;
    background: #fff;
    z-index: 2000;
}
.album{
    width: 600px; height: 600px; border-radius: 50%;
    overflow: hidden; 
    position:absolute; left: 50%; top:12%; transform:translateX(-50%);
    z-index: 5000;
}
.album>img{
    width: 100%; height: 100%; object-fit:cover; object-position:center center;
}
.album>.circle{
    width:20%; height:20%; position: absolute; left: 50%; top: 50%;
    transform:translate(-50%,-50%); background:#15212e; border-radius: 50%;
    border: 3px solid #fff; filter:brightness(30%);
}
.progress{
    height: 20px; border-radius: 8px; position: relative;
}
.progress>.timebox>.center>.bar{
    width:0px; height: 8px; border-radius: 8px;  overflow: hidden;
    background: #f3f;
}
.progress>.timebox>.center{
    width:100%; background: #ccc;
    max-width:1740px;
}
.progress>.timebox{
    display: flex; justify-content:space-between;
    font-size:15px; align-items:center; 
}
.func{
    display: flex; justify-content:space-between;
    align-items:center; margin-top: 20px;
    position: relative;
}
.info{
    text-align:left; font-size:24px; color: #090909;
    font-weight: bold;
}
.info>.artist{
    font-size:18px; font-weight: normal;
}
.main_controls{
    display: flex; gap: 30px; justify-content:center;
    align-items:center; position:absolute;
    left: 50%; top: 50%; transform:translate(-50%,-50%);
}
.main_controls>span{
    font-size:40px; width: 50px; height: 50px;
    border-radius: 50%; background: #fff; color: #090909;
    display: flex; justify-content: center; align-items: center;
}
.main_controls>span:hover, .main_controls>span:active{
    color:#09f;
}
.main_controls>#musicBtn{
    font-size: 50px; width: 60px; height: 60px;
    border: 5px solid transparent;
    background-image: linear-gradient(#fff, #fff),
    linear-gradient(
    to right,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
    );
    background-origin:border-box;
    background-clip:content-box, border-box;
}
.sub_controls{
    display: flex;
    justify-content: center; align-items: center;
    gap: 30px; position: relative;
}
.sub_controls>#volumeBtn{
    position: relative;
}
/* ================================================== */
.play_list{
    position: absolute; right:-400px; top: 0px; width:400px;
    min-height:calc(100vh - 150px); padding: 20px; box-sizing: border-box;
    background: #ededed; color:#090909; display:block;
    z-index: 10000; transition:all .3s;
}
.play_list.active{right:0;}
.play_list>ul{
    list-style:none;
}
.play_list>ul>li{
    border-bottom: 1px solid #fff; font-size: 24px;
    letter-spacing: -1px; /* line-height:1.8; */ padding: 5px 0;
    display: flex; justify-content:space-between; align-items:flex-end;
    cursor: pointer;
}
.play_list>ul>li>strong{font-weight: normal;}
.play_list>ul>li>em{font-style:normal; font-size: 18px;}
.play_list li.active{
    color: #0ff;
}
.sound{
    flex-direction:row;
    border: 1px solid #090909; width: 220px; height: 50px;
    padding:5px 10px; display: flex;
    align-items:center; justify-content:space-between;
    background: #ededed; position: absolute;
    left:20px; top:-60px; display: none; z-index: 3000;
}
.sound>.value{
    display: inline-block;
    text-align: center;
    min-width:28px;
    font-weight: bold;
}
.bg{
    width: 100%; height: 100vh;
    background: #15212e;
    filter:brightness(30%);
}
.watch{
    text-decoration: none; color:#090909; font-weight: bold; font-size: 12px
}