@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons");
body,div,h1,h2,ul,li,p{margin: 0; padding: 0; box-sizing: border-box;}
:root{
    --bgc:rgba(19,231,232,1);
}
body{
    height:100vh;
    background: rgb(234,245,47);
    background: linear-gradient(180deg, rgba(234,245,47,1) 0%, rgba(155,236,10,1) 25%, rgba(31,208,36,1) 50%, rgba(17,228,158,1) 75%, rgba(19,231,232,1) 100%);
}
.player{
    position: fixed; left: 50%; top: 50%; transform:translate(-50%,-50%);
    width: 192px; height: 192px; border-radius: 50%; overflow: hidden;
    user-select:none; position: relative;
    -webkit-user-select: none; z-index: 9000;
}
.player>div{
    width: 100%; height: 100%;
    position: absolute; left: 0; top: 0;
}
.backgroundImage{
    filter:brightness(60%);
}
.backgroundImage>img{
    width: 100%; height: 100%;
    object-fit:cover;
}
.player>.main{
    color: #fff;
}
.player>.main>h1{
    position: absolute; left: 50%; transform:translateX(-50%);
    bottom: 15%; font-size: 12px; text-align: center; z-index: 9999;
}
.player>.main>p{
    position: absolute; left: 50%; transform:translateX(-50%);
    bottom: 5%; font-size: 10px; text-align: center; z-index: 9998;
}
.player>.main>#musicBtn{
    position: absolute; left: 50%; top: 50%; transform:translate(-50%,-50%);
    font-size:50px; background-color:var(--bgc); border-radius: 50%; z-index: 10005;
}
.player>.main>#prevBtn{
    position: absolute; top: 50%; left: 10%; transform:translateY(-50%);
    font-size:40px; z-index: 10004;
}
.player>.main>#nextBtn{
    position: absolute; top: 50%; right: 10%; transform:translateY(-50%);
    font-size:40px; z-index: 10003;
}
.player>.main>#volumeBtn{
    position: absolute; left: 25%; top: 15%;
    font-size:30px; z-index: 10002;
}
.player>.main>#listBtn{
    position: absolute; right: 25%; top: 15%;
    font-size:30px; z-index: 10001;
}
.player>.main>.progress{
    width: 100%; position: absolute; left: 0; top: 0;
    height:100%; border-radius:50%; background-color:transparent;
}
.player>.main>.progress>.timebox{
    width: 100%; height: 100%;
    position: absolute; left: 0; top: 0;
}
.circle_progress{
    transform:rotate(-90deg);
}
.frame,.bar{
    fill:none;
}
.bar {
    stroke:var(--bgc);
    stroke-linecap: round;
    visibility: hidden;
}
.player>.main>.progress>.timebox>.currentTime{
    position: absolute; left:50%; transform:translateX(-50%); top: 5px;
    color:var(--bgc); font-size: 10px; z-index: 5050;
}
.player>.volumeSelect{
    display: none; position: absolute; left: 0; top: 0;
    z-index:20000; width: 100%; height: 100%;
    background: #090909; color: #fff;
    cursor: pointer;
}
.player>.volumeSelect>#mute{
    font-size: 32px; position: absolute;
    left: 50%; transform:translateX(-50%); top: 12%;
    z-index: 27000;
}
.player>.volumeSelect>.volumeFunc{
    display: flex; position: absolute; left:50%; top: 50%;
    transform:translate(-50%,-50%);
    justify-content:space-between; align-items: center;
    text-align: center; z-index: 29999;
    width: 92px; height: 54px;
}
.player>.volumeSelect>.volumeFunc>.minus{
    font-size: 32px; width: 23px;
}
.player>.volumeSelect>.volumeFunc>.currentVolume{
    font-size: 40px; position: absolute;
    left: 50%; top: 50%;
    transform:translate(-50%,-50%);
}
.player>.volumeSelect>.volumeFunc>.plus{
    font-size: 32px; width: 23px;
}
.player>.volumeSelect>.sound{
    font-size: 24px; position: absolute; left: 50%;
    transform:translateX(-50%); bottom: 12%;
}
.player>.volumeSelect>.volumeAdjust{
    width: 100%; position: absolute; left: 0; top: 0;
    height:100%; border-radius:50%; background-color:transparent;
    z-index: 25000;
}
.player>.volumeSelect>.volumeAdjust>.volume_progress{
    transform:rotate(-90deg);
}
.player>.volumeSelect>.volumeAdjust>.volume_progress>.volume_frame,
.player>.volumeSelect>.volumeAdjust>.volume_progress>.volume_bar{
    fill:none;
}
.player>.volumeSelect>.volumeAdjust>.volume_progress>.volume_bar{
    stroke:#fc0;
    stroke-linecap: round;
}
.player>.menuScreen{
    display: none;
}
.border{
    position: fixed; left: 50%; top: 50%; transform:translate(-50%,-50%);
    border: 10px solid #090909; width: 210px; height: 210px;
    border-radius: 50%;
}
.back{
    position: absolute; left: 200px; top: 200px;
    text-decoration: none; color: #fff; font-weight: bold;
    font-size: 60px;
}
.backToMain{
    color: #fff; position: absolute; top: 50%; transform: translateY(-50%);
    left:5%; font-size: 32px; text-decoration: none; z-index: 28000;
}
.player>.active{
    display: block;
}